.Projects {
  display: flex;
  flex-direction: column;

  width: 100vw; 
  height: 190vh;

  background-color: rgb(61, 61, 61);

  align-items: center;

}
@media only screen and (max-width: 420px) {
  .Projects{
    width: 420px; 
  height: 290vh;
   }}

.ProjectsContainer {
  display: flex;
  flex-direction: column;

  width: 120rem; 
  height: 100%;

  background-image: url('../../images/background.png');
  background-size: cover;

  align-items: center;
  
}
@media only screen and (max-width: 420px) {
  .Projects{
    width: 420px; 
  height: 290vh;
   }}
.ProjectHeaderText {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-left: -46rem;
  margin-top: 10rem;
}
@media only screen and (max-width: 420px) {
  .ProjectHeaderText {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;

    margin-left: 0rem;
   }}
.ProjectText {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  text-align: justify;
  margin-left: -52rem;
  margin-bottom:0rem;
}
@media only screen and (max-width: 420px) {
  .ProjectText {
    margin-left: 0rem;
    margin-bottom:0rem;
   }}
.ImageContaimer {
  display: flex;
  flex-direction: row;

  align-items: center;

}
@media only screen and (max-width: 420px) {
  .ImageContaimer{
    display: flex;
    flex-direction: column;
   }}
.Celular {
  width: 40rem;
  height: 50rem;

  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 4rem;
}
@media only screen and (max-width: 420px) {
  .Celular {
    width: 35rem;
    height: 40rem;
   }}
.AceraP {
  width: 40rem;
  height: 50rem;

  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 4rem;
}
@media only screen and (max-width: 420px) {
  .AceraP  {
    width: 35rem;
    height: 40rem;
   }}
.ImageContaimerII {
  display: flex;
  flex-direction: row;

  align-items: center;
}
@media only screen and (max-width: 420px) {
  .ImageContaimerII {
    display: flex;
    flex-direction: column;
   }}
.Amaral {
  width: 40rem;
  height: 50rem;

  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 420px) {
  .Amaral  {
    width: 35rem;
    height: 40rem;
   }}
.Condo {
  width: 40rem;
  height: 50rem;

  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 420px) {
  .Condo  {
    width: 35rem;
    height: 40rem;
   }}
.ProjectBodenText {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: white;
 margin-left: 0rem;
  margin-top: 10rem;
}
@media only screen and (max-width: 420px) {
  .ProjectBodenText  {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
   }}
.BodenText {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  text-align: justify;
  margin-left: 0rem;
  margin-bottom:0rem;
}
@media only screen and (max-width: 420px) {
  .BodenText  {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
   }}
.ImageContaimerIII {
  display: flex;
  flex-direction: row;

  align-items: center; 
  margin-top: 2rem;
  gap: 2rem;
}
@media only screen and (max-width: 420px) {
  .ImageContaimerIII {
    display: flex;
    flex-direction: column;
   }}
.ClienteI {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: linear-gradient(to right, #ffffff 0%, #e2fccd 100%);
  border-radius: 1rem;
  align-items: center;
}
.Client01 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  width: 25rem;
  margin-top: 2rem;
}
.RVP {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  width: 25rem;
  margin-top: 1rem;
  text-align: right;
}
.ClienteII {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: linear-gradient(to right, #ffffff 0%, #c0e7f8 100%);
  border-radius: 1rem;
  align-items: center;
}
.Client02 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  width: 25rem;
  margin-top: 2rem;
}
.MS {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  width: 25rem;
  margin-top: 1rem;
  text-align: right;
}
.ClienteIII {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: linear-gradient(to right, #ffffff 0%, #ffdbed 100%);
  border-radius: 1rem;
  align-items: center;
}
.Client03 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  width: 25rem;
  margin-top: 2rem;
}
.IR {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  width: 25rem;
  margin-top: 1rem;
  text-align: right;
}